<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 로그 파일 저장 위치 -->
  <property name="LOGS_PATH" value="./monitoring-stack/logs"/>

  <!-- local 프로필 환경 -->
  <springProfile name="local">
    <!-- File 에 로그 출력 세팅 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <charset>UTF-8</charset>
        <pattern>[ls] [%23d{yyyy_MM_dd_'T'_HH_mm_ss_SSS_z}] [%-5level] [%msg] [le]%n</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}/local_%d{yyyy_MM_dd}.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>
        <maxHistory>30</maxHistory>
      </rollingPolicy>
    </appender>

    <!-- 새로운 GPT 로그 Appender -->
    <appender name="GPT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOGS_PATH}/gpt.log</file>
      <encoder>
        <charset>UTF-8</charset>
        <pattern>[gpt] [%23d{yyyy_MM_dd_'T'_HH_mm_ss_SSS_z}] [%msg] [le]%n</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}/gpt_%d{yyyy_MM_dd}.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>
        <maxHistory>30</maxHistory>
      </rollingPolicy>
    </appender>

    <!-- CONSOLE 에 로그 출력 세팅 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>[ls] [%23d{yyyy_MM_dd_'T'_HH_mm_ss_SSS_z}] [%highlight(%-5level)] [%msg] [le]%n</pattern>
      </layout>
    </appender>

    <root level="INFO">
      <appender-ref ref="FILE"/>
      <appender-ref ref="CONSOLE"/>
    </root>

    <!-- GPT 로그 설정 -->
    <logger name="gpt" level="INFO" additivity="false">
      <appender-ref ref="GPT_FILE"/>
    </logger>
  </springProfile>

  <!-- dev 프로필 환경 -->
  <springProfile name="dev">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <charset>UTF-8</charset>
        <pattern>[ls] [%23d{yyyy_MM_dd_'T'_HH_mm_ss_SSS_z}] [%-5level] [%msg] [le]%n</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}/dev_%d{yyyy_MM_dd}.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>
        <maxHistory>30</maxHistory>
      </rollingPolicy>
    </appender>
    <root level="INFO">
      <appender-ref ref="FILE"/>
    </root>
    <logger name="gpt" level="INFO" additivity="false">
      <appender-ref ref="GPT_FILE"/>
    </logger>
  </springProfile>

  <!-- prod 프로필 환경 -->
  <springProfile name="prod">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <charset>UTF-8</charset>
        <pattern>[ls] [%23d{yyyy_MM_dd_'T'_HH_mm_ss_SSS_z}] [%-5level] [%msg] [le]%n</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}/prod_%d{yyyy_MM_dd}.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>
        <maxHistory>30</maxHistory>
      </rollingPolicy>
    </appender>
    <root level="INFO">
      <appender-ref ref="FILE"/>
    </root>
    <logger name="gpt" level="INFO" additivity="false">
      <appender-ref ref="GPT_FILE"/>
    </logger>
  </springProfile>
</configuration>
